@{
    ViewBag.Title = "About";
}
<h1>Header</h1>
<h2>@ViewBag.Title.</h2>
<h3>@ViewBag.Message</h3>
@*<a href="http://test/test.html"></a>*@
<a href="http://microsoft.com"></a>
<a href="http://www.microsoft.com"></a>
<p>Use this area to provide additional information.</p>
