
@{
    ViewBag.Title = "FilterOrder";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<h2>FilterOrder</h2>

<h3>CONTROLLER</h3>

<h3>->ORDER OF ACTION FILTERS : Authorization filters, Action filters, Response filters, Exception</h3>

<h3>--> ORDER </h3>

 <h3>---> SCOPE: First, global, controller, action, last </h3>
