
@{
    ViewBag.Title = "JavaScriptResultSample";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<h2>JavaScriptResultSample</h2>

Try clicking the link below <br />

@Html.ActionLink("Test JavaScript", "JavaScriptOutput")