
@{
    ViewBag.Title = "SimpleGlobalization";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<h2>Simple Globalization</h2>

<h3>CurrentUICulture @ViewData["CurrentUICulture"]</h3>
<h3>CurrentCulture @ViewData["CurrentCulture"]</h3>
@{ 
    var amount = 10.0m; // Decimal
    var myDate = new DateTime(2016, 05, 26);
}

<div>
    <h3>
        @amount.ToString("c") @*// format as currency*@
    </h3>
</div>
<div>
    <h3>
        @myDate.ToShortDateString()
    </h3>
</div>